beautifulsoup4==4.5.1
Django==1.9.13
django-dbbackup==3.1.1
django-registration-redux==1.4
fancy-tag==0.2.0
lxml==3.6.4
MySQL-python==1.2.5
pytz==2015.4
PyYAML==3.11
requests==2.5.1
selenium==2.45.0
xlrd==0.9.3
xlwt==1.0.0
