{% extends "base.html" %}

{% block header_text %}Week {{week_number}} Update Games{% endblock %}

{% block side_block %}
    {% include "pick10/year_sidebar.html" %}
{% endblock %}

{% block body_block %}
<link href="/static/title_bar.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/enter_picks.css" rel="stylesheet" type="text/css" media="all">
    <script src="/static/instructions.js"></script>
    <div id="page-title">Week {{week_number}} Picks</div>

<hr>
    <table>
        <td><a id="link-bar-overall-link" href="{% url 'overall_results' year %}">OVERALL</a></td>
        <td id="link-bar-label">
            <a id="link-bar-week-link" href="{% url 'week_results' year week_number %}">WEEK</a>
            {% for wk_num in weeks_in_year %}
                {% if wk_num == week_number %}
                    <a id="link-bar-week-number-highlight" href="{% url 'week_results' year wk_num %}">{{wk_num}}</a>
                {% else %}
                    <a id="link-bar-week-number-link" href="{% url 'week_results' year wk_num %}">{{wk_num}}</a>
                {% endif %}
            {% endfor %}
        </td>
    </table>
    <br>

<form action="picks" method="post">
    {% csrf_token %}
    <div class="col-md-4">
        {% for pick in picks %}

    <table class="table table-hover">
        <thead>
            <td class="game-number">Game {{pick.number}}</td>
            <td class="header-light">spread</td>
            {% if pick.number == 10 %}
                <td class="header-light">score</td>
            {% endif %}
        </thead>
        <tr class="{{pick.team1_row_class}}" id="team1_row_{{pick.number}}">
            <td><label class="radio-inline">
                    <input type="radio" name="pick_{{pick.number}}" value="team1" onclick="highlightTeam1({{pick.number}})" {{pick.team1_checked}}>
                {{pick.team1}}</label>
            </td>
            <td>{{pick.team1_spread}}</td>
            {% if pick.number == 10 %}
                <td><input type="text" size="3" name="team1-score" value="{{pick.team1_predicted_points}}"></input></td>
            {% endif %}
        </tr>
        <tr class="{{pick.team2_row_class}}" id="team2_row_{{pick.number}}">
            <td><label class="radio-inline">
                    <input type="radio" name="pick_{{pick.number}}" value="team2" onclick="highlightTeam2({{pick.number}})" {{pick.team2_checked}}>
                    {{pick.team2}}</label>
            </td>
            <td>{{pick.team2_spread}}</td>
            {% if pick.number == 10 %}
                <td><input type="text" size="3" name="team2-score" value="{{pick.team2_predicted_points}}"></input></td>
            {% endif %}
        </tr>
        {% if pick.number == 10 %}
            <tr><td></td><td></td><td></td></tr>
        {% else %}
            <tr><td></td><td></td></tr>
        {% endif %}
    </table>
    <br>

        {% comment %}
    <table class="table table-hover">
        <thead>
            <td class="game-number">Game {{pick.number}}</td>
        </thead>
        <tr>
            <td class="col-md-1"><input type="radio" name="pick_{{pick.number}}" value="team1"></td>
            <td class="col-md-1">{{pick.team1}}</td>
        </tr>
        <tr>
            <td class="col-md-1"><input type="radio" name="pick_{{pick.number}}" value="team2"></td>
            <td class="col-md-1">{{pick.team2}}</td>
        </tr>
    </table>
    <br>
    {% endcomment %}
{% endfor %}
</div>
</form>

{% endblock %}

{% block script_block %}
    <script>
        function highlightTeam1(pick_number) {
            $("#team1_row_" + pick_number).addClass("info");
            $("#team2_row_" + pick_number).removeClass("info");
        }
        function highlightTeam2(pick_number) {
            $("#team1_row_" + pick_number).removeClass("info");
            $("#team2_row_" + pick_number).addClass("info");
        }
    </script>
{% endblock %}
