{% extends "base.html" %}

{% block header_text %}College Football Pick 10{% endblock %}

{% block side_block %}
    {% include "pick10/year_sidebar.html" %}
{% endblock %}

{% block body_block %}
<link href="/static/title_bar.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/error.css" rel="stylesheet" type="text/css" media="all">
<hr>
{% include "pick10/week_navbar.html" %}
    {% if error == "user_player_mismatch" %}
        <div id="error-msg">Player {{player_id}} does not match the logged in user.</div>
        <div id="error-msg">A user can only access their own enter picks page.</div>
    {% endif %}
{% endblock %}
