{% extends 'base.html' %}

{% block body_block %}
<p>This is the main landing page for the pool and does not require a logged in
User. It should give some general information about the pool:</p>
<ul>
    <li>How it operates.</li>
    <li>What does it mean to register.</li>
    <li>What does it mean to login.</li>
    <li>Who to contact for more information</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
<h1 id="home_h1">This is the HOME page!</h1>
{% endblock %}

