{% extends 'base.html' %}

{% load staticfiles %}

{% block header_other_jq_scripts %}
    <link href="{% static 'jqplot/css/jquery.jqplot.min.css' %}" rel="stylesheet" media="screen">
    <script src="{% static 'jqplot/js/jquery.jqplot.min.js' %}"></script>
    <script src="{% static 'jqplot/plugins/jqplot.canvasTextRenderer.min.js' %}"></script>
    <script src="{% static 'jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js' %}"></script>
    <script src="{% static 'jqplot/plugins/jqplot.trendline.min.js' %}"></script>
{% endblock %}

{% block body_block %}
{% if year_num > 0 %}
<ul>
    <li><a href="{% url 'overall_results' year_num %}">Latest Season Results</a></li>
    <li><a href="{% url 'week_results' year_num week_num %}">Latest Week Results</a></li>
    {% if profile == None %}
    <li><a href="{% url 'profile' %}">Create/Edit Profile</a></li>
    {% elif profile.player == None %}
    <li>...Waiting for Commissioner to create Player link...</li>
    {% else %}
    <li><a href="{% url 'player_results' year_num week_num profile.player.id %}">Latest Pick Results</a></li>
    <li><a href="{% url 'enter_picks' year_num week_num profile.player.id %}">Enter/Modify Picks</a></li>
    {% endif %}
</ul>
{% else %}
<p id="index_p">Pool has not been initialized with data.</p>
{% endif %}
{% if profile.player != None and week_num > 1 %}
<div id="chartdiv" style="height:400px;width=300px; "></div>
<script class="code" type="text/javascript">
    $(document).ready(function() {
        $.jqplot.config.enablePlugins = true;
        var ou = {{over_under_list}};
        var i, dp;
        var line1 = [];
        var ticks = [];
        for (i=0; i<ou.length; i++){
            dp = [i, ou[i]];
            line1.push(dp);
        }
        for (i=-1; i<=ou.length; i++){
            ticks.push(i);
        }
        var optionObj = {
            title:{text:"Trend Line {{year_num}} - {{user.username}}"},
            grid:{shadow:false, borderWidth:9.0},
            axes:{
                xaxis:{
                    ticks: ticks,
                    tickInterval: 1.0,
                    label: 'Week Number'
                },
                yaxis:{
                    labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                    label: 'Points - Over/Under'
                }
            },
            series:[{
                trendline: {color: '#993333'}
            }]
        };
        var plot1 = $.jqplot ('chartdiv', [line1], optionObj);
    });
</script>
{% endif %}
{% endblock %}
