{% extends 'base.html' %}

{% block header_text %}Player {{summary.player_name}} Stats{% endblock %}

{% block side_block %}
    {{ side_block_content|safe }}
{% endblock %}

{% block body_header_block %}
    <div id="page-title">Stats for {{summary.player_name}}</div>
    {% include "pick10/week_navbar.html" %}
    <br>
{% endblock %}
{% block custom_page_script %}
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-0.13.0.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-0.13.0.min.js"></script>
{{ histo_script | safe }}
{% endblock %}

{% block body_block %}
<link href="/static/title_bar.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/player_stats.css" rel="stylesheet" type="text/css" media="all">
<br>
    <table>
        <tr>
            <td class="table-line" colspan="10"></td>
        </tr>
        <tr class="summary-content">
            <td class="summary-label">Years:</td>
            <td class="summary-value">{{summary.number_of_years}}</td>
            <td class="summary-label">Pct:</td>
            <td class="summary-value">{{summary.pick_pct}}</td>
            <td class="summary-label">Wins:</td>
            <td class="summary-value">{{summary.total_wins}}</td>
            <td class="summary-label">Tens:</td>
            <td class="summary-value">{{summary.total_tens}}</td>
            <td class="summary-label">Zeros:</td>
            <td class="summary-value">{{summary.total_zeros}}</td>
        </tr>
        <tr>
            <td class="table-line" colspan="10"></td>
        </tr>
    </table>
    <br>
    <table id="player_stats_table" class="tablesorter">
        <thead class="results-header">
            <tr>
                <th class="pick-header th_header"><span><a class="link-header btn btn-default btn-xs active" href="#" role="button">Player Year</a></span></th>
                <th class="result-header th_header"><span><a class="link-header btn btn-default btn-xs active" href="#" role="button">Score</a></span></th>
                <th class="result-header th_header"><span><a class="link-header btn btn-default btn-xs active" href="#" role="button">Earned Score</a></span></th>
                <th class="result-header th_header"><span><a class="link-header btn btn-default btn-xs active" href="#" role="button">Max</a></span></th>
                <th class="result-header th_header"><span><a class="link-header btn btn-default btn-xs active" href="#" role="button">Min</a></span></th>
                <th class="result-header">Wk1</th>
                <th class="result-header">Wk2</th>
                <th class="result-header">Wk3</th>
                <th class="result-header">Wk4</th>
                <th class="result-header">Wk5</th>
                <th class="result-header">Wk6</th>
                <th class="result-header">Wk7</th>
                <th class="result-header">Wk8</th>
                <th class="result-header">Wk9</th>
                <th class="result-header">Wk10</th>
                <th class="result-header">Wk11</th>
                <th class="result-header">Wk12</th>
                <th class="result-header">Wk13</th>
            </tr>
        </thead>
        <tfoot class="results-header">
            <tr>
                <td class="pick-header">Total</td>
                <td class="result-header">{{summary.total_points}}</td>
                <td class="result-header">{{summary.earned_points}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="18">Earned Score does not include weeks where there was a default.</td>
            </tr>
        </tfoot>
        {% for stat in stats %}
            <tr>
                <td class="year-content pick-content">{{stat.year}}</td>
                <td class="year-content pick-content">{{stat.total_score}}</td>
                <td class="year-content pick-content">{{stat.earned_score}}</td>
                <td class="year-content pick-content">{{stat.max_score}}</td>
                <td class="year-content pick-content">{{stat.min_score}}</td>
                {% if stat.week1_score  > -1 %}<td class="{{stat.week1_decoration}}">{{stat.week1_score}}</td>{% else %}<td class="p_no_content"></td>{% endif %}
                {% if stat.week2_score  > -1 %}<td class="{{stat.week2_decoration}}">{{stat.week2_score}}</td>{% else %}<td class="p_no_content"></td>{% endif %}
                {% if stat.week3_score  > -1 %}<td class="{{stat.week3_decoration}}">{{stat.week3_score}}</td>{% else %}<td class="p_no_content"></td>{% endif %}
                {% if stat.week4_score  > -1 %}<td class="{{stat.week4_decoration}}">{{stat.week4_score}}</td>{% else %}<td class="p_no_content"></td>{% endif %}
                {% if stat.week5_score  > -1 %}<td class="{{stat.week5_decoration}}">{{stat.week5_score}}</td>{% else %}<td class="p_no_content"></td>{% endif %}
                {% if stat.week6_score  > -1 %}<td class="{{stat.week6_decoration}}">{{stat.week6_score}}</td>{% else %}<td class="p_no_content"></td>{% endif %}
                {% if stat.week7_score  > -1 %}<td class="{{stat.week7_decoration}}">{{stat.week7_score}}</td>{% else %}<td class="p_no_content"></td>{% endif %}
                {% if stat.week8_score  > -1 %}<td class="{{stat.week8_decoration}}">{{stat.week8_score}}</td>{% else %}<td class="p_no_content"></td>{% endif %}
                {% if stat.week9_score  > -1 %}<td class="{{stat.week9_decoration}}">{{stat.week9_score}}</td>{% else %}<td class="p_no_content"></td>{% endif %}
                {% if stat.week10_score > -1 %}<td class="{{stat.week10_decoration}}">{{stat.week10_score}}</td>{% else %}<td class="p_no_content"></td>{% endif %}
                {% if stat.week11_score > -1 %}<td class="{{stat.week11_decoration}}">{{stat.week11_score}}</td>{% else %}<td class="p_no_content"></td>{% endif %}
                {% if stat.week12_score > -1 %}<td class="{{stat.week12_decoration}}">{{stat.week12_score}}</td>{% else %}<td class="p_no_content"></td>{% endif %}
                {% if stat.week13_score > -1 %}<td class="{{stat.week13_decoration}}">{{stat.week13_score}}</td>{% else %}<td class="p_no_content"></td>{% endif %}
            </tr>
        {% endfor %}
    </table>
    <br><br>

    {{ histo_div | safe }}

{% endblock %}
{% block script_block %}
    <script>
        $(document).ready(function() {
                $("#player_stats_table").tablesorter();
            }
        );
    </script>
{% endblock %}
