{% extends 'base.html' %}

{% block header_text %}Player {{summary.player_name}} Stats{% endblock %}

{% block side_block %}
    {{ side_block_content|safe }}
{% endblock %}

{% block body_header_block %}
    <div id="page-title">Stats for {{summary.player_name}}</div>
    {% include "pick10/week_navbar.html" %}
    <br>
{% endblock %}
{% block custom_page_script %}
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-1.4.0.min.js"></script>
{{ histo_script | safe }}
{% endblock %}

{% block body_block %}
<link href="/static/title_bar.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/player_stats.css" rel="stylesheet" type="text/css" media="all">
<br>
    <table>
        <tr>
            <td class="table-line" colspan="10"></td>
        </tr>
        <tr class="summary-content">
            <td class="summary-label">Years</td>
            <td class="summary-value">{{summary.number_of_years}}</td>
            <td class="summary-label">Pct</td>
            <td class="summary-value">{{summary.pick_pct}}</td>
            <td class="summary-label">Wins</td>
            <td class="summary-value">{{summary.total_wins}}</td>
            <td class="summary-label">Tens</td>
            <td class="summary-value">{{summary.total_tens}}</td>
            <td class="summary-label">Zeros</td>
            <td class="summary-value">{{summary.total_zeros}}</td>
        </tr>
        <tr>
            <td class="table-line" colspan="10"></td>
        </tr>
    </table>
    <br>
    <table id="player_stats_table" class="tablesorter">
        <thead class="results-header">
            <tr>
                <th class="pick-header th_header"><span><a class="link-header btn btn-default btn-xs active" href="#" role="button">Player Year</a></span></th>
                <th class="result-header th_header"><span><a class="link-header btn btn-default btn-xs active" href="#" role="button">Score</a></span></th>
                <th class="result-header">Wk1</th>
                <th class="result-header">Wk2</th>
                <th class="result-header">Wk3</th>
                <th class="result-header">Wk4</th>
                <th class="result-header">Wk5</th>
                <th class="result-header">Wk6</th>
                <th class="result-header">Wk7</th>
                <th class="result-header">Wk8</th>
                <th class="result-header">Wk9</th>
                <th class="result-header">Wk10</th>
                <th class="result-header">Wk11</th>
                <th class="result-header">Wk12</th>
                <th class="result-header">Wk13</th>
            </tr>
        </thead>
        <tfoot class="results-header">
            <tr>
                <td class="pick-header">Total</td>
                <td class="result-header">{{summary.total_points}}</td>
                </td>
            </tr>
        </tfoot>
        {% for stat in stats %}
            <tr>
                <td class="year-content pick-content">{{stat.year}}</td>
                <td class="year-content pick-content">{{stat.total_score}}</td>
                {% if stat.week1_score == 10 %}
                    <td class="p_content_grn">{{stat.week1_score}}</td>
                {% elif stat.week1_score >= 7 and stat.week1_score <= 9 %}
                    <td class="p_content_lgrn">{{stat.week1_score}}</td>
                {% elif stat.week1_score >= 1 and stat.week1_score <= 3 %}
                    <td class="p_content_lred">{{stat.week1_score}}</td>
                {% elif stat.week1_score == 0 %}
                    <td class="p_content_red">{{stat.week1_score}}</td>
                {% else %}
                    <td class="p_content">{{stat.week1_score}}</td>
                {% endif %}
                {% if stat.week2_score == 10 %}
                    <td class="p_content_grn">{{stat.week2_score}}</td>
                {% elif stat.week2_score >= 7 and stat.week2_score <= 9 %}
                    <td class="p_content_lgrn">{{stat.week2_score}}</td>
                {% elif stat.week2_score >= 1 and stat.week2_score <= 3 %}
                    <td class="p_content_lred">{{stat.week2_score}}</td>
                {% elif stat.week2_score == 0 %}
                    <td class="p_content_red">{{stat.week2_score}}</td>
                {% else %}
                    <td class="p_content">{{stat.week2_score}}</td>
                {% endif %}
                {% if stat.week3_score == 10 %}
                    <td class="p_content_grn">{{stat.week3_score}}</td>
                {% elif stat.week3_score >= 7 and stat.week3_score <= 9 %}
                    <td class="p_content_lgrn">{{stat.week3_score}}</td>
                {% elif stat.week3_score >= 1 and stat.week3_score <= 3 %}
                    <td class="p_content_lred">{{stat.week3_score}}</td>
                {% elif stat.week3_score == 0 %}
                    <td class="p_content_red">{{stat.week3_score}}</td>
                {% else %}
                    <td class="p_content">{{stat.week3_score}}</td>
                {% endif %}
                {% if stat.week4_score == 10 %}
                    <td class="p_content_grn">{{stat.week4_score}}</td>
                {% elif stat.week4_score >= 7 and stat.week4_score <= 9 %}
                    <td class="p_content_lgrn">{{stat.week4_score}}</td>
                {% elif stat.week4_score >= 1 and stat.week4_score <= 3 %}
                    <td class="p_content_lred">{{stat.week4_score}}</td>
                {% elif stat.week4_score == 0 %}
                    <td class="p_content_red">{{stat.week4_score}}</td>
                {% else %}
                    <td class="p_content">{{stat.week4_score}}</td>
                {% endif %}
                {% if stat.week5_score == 10 %}
                    <td class="p_content_grn">{{stat.week5_score}}</td>
                {% elif stat.week5_score >= 7 and stat.week5_score <= 9 %}
                    <td class="p_content_lgrn">{{stat.week5_score}}</td>
                {% elif stat.week5_score >= 1 and stat.week5_score <= 3 %}
                    <td class="p_content_lred">{{stat.week5_score}}</td>
                {% elif stat.week5_score == 0 %}
                    <td class="p_content_red">{{stat.week5_score}}</td>
                {% else %}
                    <td class="p_content">{{stat.week5_score}}</td>
                {% endif %}
                {% if stat.week6_score == 10 %}
                    <td class="p_content_grn">{{stat.week6_score}}</td>
                {% elif stat.week6_score >= 7 and stat.week6_score <= 9 %}
                    <td class="p_content_lgrn">{{stat.week6_score}}</td>
                {% elif stat.week6_score >= 1 and stat.week6_score <= 3 %}
                    <td class="p_content_lred">{{stat.week6_score}}</td>
                {% elif stat.week6_score == 0 %}
                    <td class="p_content_red">{{stat.week6_score}}</td>
                {% else %}
                    <td class="p_content">{{stat.week6_score}}</td>
                {% endif %}
                {% if stat.week7_score == 10 %}
                    <td class="p_content_grn">{{stat.week7_score}}</td>
                {% elif stat.week7_score >= 7 and stat.week7_score <= 9 %}
                    <td class="p_content_lgrn">{{stat.week7_score}}</td>
                {% elif stat.week7_score >= 1 and stat.week7_score <= 3 %}
                    <td class="p_content_lred">{{stat.week7_score}}</td>
                {% elif stat.week7_score == 0 %}
                    <td class="p_content_red">{{stat.week7_score}}</td>
                {% else %}
                    <td class="p_content">{{stat.week7_score}}</td>
                {% endif %}
                {% if stat.week8_score == 10 %}
                    <td class="p_content_grn">{{stat.week8_score}}</td>
                {% elif stat.week8_score >= 7 and stat.week8_score <= 9 %}
                    <td class="p_content_lgrn">{{stat.week8_score}}</td>
                {% elif stat.week8_score >= 1 and stat.week8_score <= 3 %}
                    <td class="p_content_lred">{{stat.week8_score}}</td>
                {% elif stat.week8_score == 0 %}
                    <td class="p_content_red">{{stat.week8_score}}</td>
                {% else %}
                    <td class="p_content">{{stat.week8_score}}</td>
                {% endif %}
                {% if stat.week9_score == 10 %}
                    <td class="p_content_grn">{{stat.week9_score}}</td>
                {% elif stat.week9_score >= 7 and stat.week9_score <= 9 %}
                    <td class="p_content_lgrn">{{stat.week9_score}}</td>
                {% elif stat.week9_score >= 1 and stat.week9_score <= 3 %}
                    <td class="p_content_lred">{{stat.week9_score}}</td>
                {% elif stat.week9_score == 0 %}
                    <td class="p_content_red">{{stat.week9_score}}</td>
                {% else %}
                    <td class="p_content">{{stat.week9_score}}</td>
                {% endif %}
                {% if stat.week10_score == 10 %}
                    <td class="p_content_grn">{{stat.week10_score}}</td>
                {% elif stat.week10_score >= 7 and stat.week10_score <= 9 %}
                    <td class="p_content_lgrn">{{stat.week10_score}}</td>
                {% elif stat.week10_score >= 1 and stat.week10_score <= 3 %}
                    <td class="p_content_lred">{{stat.week10_score}}</td>
                {% elif stat.week10_score == 0 %}
                    <td class="p_content_red">{{stat.week10_score}}</td>
                {% else %}
                    <td class="p_content">{{stat.week10_score}}</td>
                {% endif %}
                {% if stat.week11_score == 10 %}
                    <td class="p_content_grn">{{stat.week11_score}}</td>
                {% elif stat.week11_score >= 7 and stat.week11_score <= 9 %}
                    <td class="p_content_lgrn">{{stat.week11_score}}</td>
                {% elif stat.week11_score >= 1 and stat.week11_score <= 3 %}
                    <td class="p_content_lred">{{stat.week11_score}}</td>
                {% elif stat.week11_score == 0 %}
                    <td class="p_content_red">{{stat.week11_score}}</td>
                {% else %}
                    <td class="p_content">{{stat.week11_score}}</td>
                {% endif %}
                {% if stat.week12_score == 10 %}
                    <td class="p_content_grn">{{stat.week12_score}}</td>
                {% elif stat.week12_score >= 7 and stat.week12_score <= 9 %}
                    <td class="p_content_lgrn">{{stat.week12_score}}</td>
                {% elif stat.week12_score >= 1 and stat.week12_score <= 3 %}
                    <td class="p_content_lred">{{stat.week12_score}}</td>
                {% elif stat.week12_score == 0 %}
                    <td class="p_content_red">{{stat.week12_score}}</td>
                {% else %}
                    <td class="p_content">{{stat.week12_score}}</td>
                {% endif %}
                {% if stat.week13_score == 10 %}
                    <td class="p_content_grn">{{stat.week13_score}}</td>
                {% elif stat.week13_score >= 7 and stat.week13_score <= 9 %}
                    <td class="p_content_lgrn">{{stat.week13_score}}</td>
                {% elif stat.week13_score >= 1 and stat.week13_score <= 3 %}
                    <td class="p_content_lred">{{stat.week13_score}}</td>
                {% elif stat.week13_score == 0 %}
                    <td class="p_content_red">{{stat.week13_score}}</td>
                {% else %}
                    <td class="p_content">{{stat.week13_score}}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br><br>

    {{ histo_div | safe }}

{% endblock %}
{% block script_block %}
    <script>
        $(document).ready(function() {
                $("#player_stats_table").tablesorter();
            }
        );
    </script>
{% endblock %}
