{% extends 'base.html' %}

{% block body_block %}
<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

    <form id="profile_form" class="form-login" role="form" action="" method="post">
        {% csrf_token %}
        <div class="input-group">
            <label for="id_company">Company</label>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                <input class="form-control input-lg" id="id_company" max-width="1000" name="company" type="text" value="{{ userprofile.company }}"required autofocus="" />
            </div>
        </div>
        <br>
        <div class="input-group">
            <label for="id_preferredtz">Preferred Timezone</label>
            <div class="input-group">
                <span class="input-group-addon">TZ</span>
                <select class="form-control input-lg" id="id_preferredtz" name="preferredtz">
                    {% for choice in tzchoices %}
                        {% if choice == userprofile.preferredtz %}
                        <option value="{{choice}}" selected>{{ choice }}</option>
                        {% else %}
                        <option value="{{choice}}">{{ choice }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <br>
        <div class="input-group">
            <label for="id_favorite_team">Favorite Team</label>
            <div class="input-group">
                <span class="input-group-addon">FAV</span>
                <select class="form-control input-lg" id="id_favorite_team" name="favorite_team">
                    {% for choice in favchoices %}
                        {% if choice == userprofile.favorite_team %}
                        <option value="{{choice}}" selected>{{ choice }}</option>
                        {% else %}
                        <option value="{{choice}}">{{ choice }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <br>
        <label for="id_submit"></label>
        <button class="btn btn-lg btn-primary btn-block" id="id_submit" type="submit" value="Submit">Submit</button>
    </form>

{% endblock %}

