<nav>
    <ul class="pagination">
        <li><a href="{% url 'week_results' year week_number %}">
            <span style="color:gray;background-color:white;">WEEK</span>
        </a></li>
        {% for wk_num in weeks_in_year %}
            {% if wk_num == week_number %}
                <li class="active"><a href="{% url 'week_results' year wk_num %}">{{wk_num}}</a></li>
            {% else %}
                <li><a href="{% url 'week_results' year wk_num %}">
                    <span style="color:gray;background-color:white;">{{wk_num}}</span>
                </a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
<ul class="nav nav-tabs">
    {% for page in navbar_pages %}
        {% if page.active %}
            <li role="presentation" class="active"><a href="{{page.link}}">{{page.name}}</a></li>
        {% else %}
            <li role="presentation"><a href="{{page.link}}">{{page.name}}</a></li>
        {% endif %}
    {% endfor %}
</ul>
