body {
   font-size: 10pt;
   font-family: Helvetica;
}
.game-number {
   color: black;
   background-color: white;
   font-weight: bold;
}
.game-date {
   color: black;
   background-color: white;
   width: 100px;
}
.header-light {
   color: gray;
   background-color: white;
   font-weight: 100;
   text-align: center;
}
.pick-error {
   color: #b94a48;
   background-color: #f2dede;
   border-color: #eed3d7;
   padding: 4px 4px;
}
#page-title {
   color: gray;
   font-size: 14pt;
   font-weight: 500;
   text-align: left;
   white-space: nowrap;
   padding: 0px 4px;
}
#team-name {
   font-weight: 300;
   font-size: 10pt;
   color: black;
   text-align: left;
   padding: 1px 4px;
   white-space: nowrap;
}
#spread {
   font-weight: 100;
   font-size: 10pt;
   color: blue;
   text-align: center;
   vertical-align: middle;
   padding: 1px 4px;
}
.team-width {
    width: 20em;
}
.table-striped>tbody>tr:nth-child(odd)>td,
tr.found {
    background-color: #e6e6ff;
}
.table-striped>tbody>tr:nth-child(even)>td,
tr.found {
    background-color: #e6ffe6;
}
