body {
   font-size: 10pt;
   font-family: Helvetica;
}
.game-number {
   color: black;
   background-color: white;
   font-weight: bold;
}
.header-light {
   color: lightgray;
   background-color: white;
}
