#year-not-started {
   color: red;
   font-family: Helvetica;
   font-size: 12pt;
   font-weight: 100;
}
#signup-message {
   color: black;
   font-family: Helvetica;
   font-size: 12pt;
   font-weight: 100;
}
