.table-line {
   border-bottom: 1px solid lightgray;
   padding: 0 0 0 0;
}

.results-header {
   color: #E6E6FF;
   background-color: #0000E6;
   font-size: 8pt;
   padding: 0px 4px;
   font-family: Helvetica;
   font-weight: 100;
}

.pick-header {
   text-align: center;
   padding: 1px 4px;
}

.result-header {
   text-align: center;
   padding: 1px 4px;
}

.summary-content {
   font-size: 12pt;
   padding: 0px 4px;
   font-family: Helvetica;
   font-weight: 300;
   white-space: nowrap;
}

.summary-label {
   color: blue;
   background-color: white;
   text-align: right;
   padding: 1px 4px;
}

.summary-value {
   color: gray;
   background-color: white;
   text-align: center;
   padding: 1px 4px;
}

.pick-content {
   color: blue;
   text-align: center;
   padding: 1px 4px;
   font-family: Helvetica;
   font-weight: 300;
   font-size: 10pt;
   white-space: nowrap;
}

#page-title {
   color: gray;
   font-size: 14pt;
   font-family: Helvetica;
   font-weight: 500;
   text-align: left;
   white-space: nowrap;
   padding: 0px 4px;
}

.p_content {
   color: black;
   background-color: white;
   border-bottom: 1px solid lightgray;
   font-size: 10pt;
   padding: 0px 4px;
   font-family: Helvetica;
   font-weight: 100;
   white-space: nowrap;
   text-align: center;
}

.p_content_grn {
   color: white;
   background-color: #00cc00;
   border-bottom: 1px solid lightgray;
   font-size: 10pt;
   padding: 0px 4px;
   font-family: Helvetica;
   font-weight: 100;
   white-space: nowrap;
   text-align: center;
}

.p_content_lgrn {
   color: black;
   background-color: #e6ffe6;
   border-bottom: 1px solid lightgray;
   font-size: 10pt;
   padding: 0px 4px;
   font-family: Helvetica;
   font-weight: 100;
   white-space: nowrap;
   text-align: center;
}

.p_content_lred {
   color: black;
   background-color: #ffe6e6;
   border-bottom: 1px solid lightgray;
   font-size: 10pt;
   padding: 0px 4px;
   font-family: Helvetica;
   font-weight: 100;
   white-space: nowrap;
   text-align: center;
}

.p_content_red {
   color: white;
   background-color: #cc0000;
   border-bottom: 1px solid lightgray;
   font-size: 10pt;
   padding: 0px 4px;
   font-family: Helvetica;
   font-weight: 100;
   white-space: nowrap;
   text-align: center;
}

.year-content {
   background-color: lightyellow;
   border-bottom: 1px solid lightgray;
   font-size: 10pt;
   padding: 0px 4px;
   font-family: Helvetica;
   font-weight: 100;
   white-space: nowrap;
   text-align: center;
}

.th_header {
   text-align: center;
   padding: 1px 4px;
   white-space: nowrap;
}

table.tablesorter thead tr .header span {
    background-image: url(images/bg_y.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 15px;
    cursor: pointer;
}

table.tablesorter thead tr .headerSortUp span {
    background-image: url(images/asc_y.png);
    padding-right: 15px;
}

table.tablesorter thead tr .headerSortDown span {
    background-image: url(images/desc_y.png);
    padding-right: 15px;
}

