/* css help?  http://kyleschaeffer.com/development/css-font-size-em-vs-px-vs-pt-vs/ */

.game-header {
   color: #E6E6FF;
   background-color: #0000E6;
   font-size: 8pt;
   padding: 0px 4px;
}

.game-content {
   color: black;
   background-color: lightyellow;
}

#locked-text {
   color: red;
   text-align: left;
   padding: 1px 4px;
   font-family: Helvetica;
   font-weight: 100;
}

#teams-header {
   text-align: left;
   padding: 1px 4px;
   font-family: Helvetica;
   font-weight: 100;
}

#score-header {
   text-align: center;
   padding: 1px 4px;
   font-family: Helvetica;
   font-weight: 100;
}

#status-header {
   background-color: white;
}

#team-name {
   width: 15em;
   font-family: Helvetica;
   font-size: 10pt;
   padding: 1px 4px;
   white-space: nowrap;
   font-weight: 300;
}

#vs {
   background-color: white;
   font-size: small;
   font-family: Helvetica;
   font-weight: 300;
}

#game-status {
   background-color: white;
   font-size: small;
}

#team-score {
   background-color: white;
   text-align: center;
}

#final {
   color : black;
   font-family: Helvetica;
   font-weight: 300;
}

#game-qtr {
   background-color: lightgray;
   text-align: right;
   color : black;
   font-family: Helvetica;
   font-weight: 300;
   font-size: small;
}
#game-time {
   background-color: lightgray;
   text-align: right;
   color : black;
   font-family: Helvetica;
   font-weight: 300;
   font-size: small;
}
.instructions {
   background-color: white;
   color : gray;
   font-family: Helvetica;
   font-weight: 1000; 
   font-size: small;
   text-decoration: underline;
}  
#instructions-header {
   text-align: left;
   background-color: white;
   color : darkgray;
   font-family: Helvetica;
   font-weight: 500; 
   font-size: small;
   text-decoration: underline;
}  
   
#instructions-number {
   text-align: center;
   background-color: white;
   color : darkgray;
   font-family: Helvetica;
   font-weight: 500; 
   font-size: small;
}  
#instructions-content {
   text-align: left;
   background-color: white;
   color : darkgray;
   font-family: Helvetica;
   font-weight: 500; 
   font-size: small;
}
#instructions-format {
   text-align: left;
   background-color: white;
   color : darkgray;
   font-family: Helvetica;
   font-weight: 500;
   font-size: small;
}
#instr-link {
   text-align: center;
   background-color: white;
   color : gray;
   font-family: Helvetica;
   font-weight: 500;
   font-size: small;
   text-decoration: none;
   padding: 1px 4px;
}
#instr-title {
   text-align: left;
   background-color: white;
   color : gray;
   font-family: Helvetica;
   font-weight: 500;
   font-size: small;
   padding: 1px 4px;
}

#page-title {
   color: gray;
   font-size: 14pt;
   font-family: Helvetica;
   font-weight: 500;
   text-align: left;
   white-space: nowrap;
   padding: 0px 4px;
}
